/*================01.basic setting=====================*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 1.5vmin;
    line-height: 1.42857143;
    color: #fff;
    background-color: #333;
    font-family: 'Montserrat', sans-serif,'Microsoft JhengHei';
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
    line-height: 150%;
    color: #fff;
    font-family: 'Montserrat', sans-serif,'Microsoft JhengHei';
}
p{
    font-size:3.5vmin;
}
ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    }

section {
    padding: 100px 0;
}

.clearfix::after {
    content: '';
    display : table;
    clear: both;
}

h2{
    margin-bottom: 75px;
    text-align: center;
    font-size: 4vmin;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*====================02.header============*/
header {
    /* left: 0;
    right: 0;
    background-image: url(../images/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; */
    position: relative;
}
nav{
    position: absolute;
    top:0;
    left:0;
}
header .row{
    width:100%;
    position: absolute;
    top:0;
    left:0;
}
#navber{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
}
.navber {
    background-image: url(../images/ListBG.png);
    
}
 .navbar-brand {
    float: left;
    padding: 1% 0 0 5%;
}
/*
.navbar-brand img{
    height:100%;
    width:auto;
} */
.nav-link{
    color:#fff;
}

.link-main:hover{
    color:#fff;
    border: 1px solid #fff;
    border-radius: 25px;
}
.navbar-nav{
    right: 0;
    position: absolute;
}
.social {
    width:5%;
    margin-top:1%;
} 
.facebook{
    width:3.5%;
    margin-top:1%;
}
/* .nav {
    display:inline-block;
    margin: 2% 0;
}

.nav span {
    display: inline-block;
}

.nav span a {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    font-size: 2vmin;
    font-weight:bold;
}
.social {
    width:10%;
} */
/* .social img{
    width:55%;
}
.nav-social{
    width:30%;
} */

/* #nav-link ul li{
    display: inline-block;
    margin: 0;
}

#nav-link ul li a{
    color: #fff;
    padding:0;
    font-size: 2.5vmin;
    text-decoration:none;
}
#nav-link ul li a:hover {
    border: 1px solid #fff;
    border-radius: 25px;
} */
.language{
    margin-top:1%;
}
#language{
    color: #fff;
    background-color: #444;
    border: 0;
    border-radius: 25px;

}
#language option{
    color: #fff;
    background-color: #444;
}

#header .row{
    margin-right:10%;
}
#header-left{
    margin-top: 10%;
}
#header-video{
    /* height:50%; */
}

.video-container {
    margin-left:22%;
    width:90%;
    position: relative;
    padding-bottom: 50.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

#header-img{
    position: absolute;
    left: 22%;
    top: 80%;
    width: 40%;
    transform: translate(-50%, -50%);
}

#header-content{
    width: 70%;
    margin-top: 1%;
    position: absolute;
    left: 77%;
    top: 128%;
    font-size: 2vmin;
    line-height: 135%;
    transform: translate(-50%, -50%);
}


/*====================03.game============*/

#game{
    padding: 5% 0;
    background-color: #222;
    color:#fff;
    text-align: center;
    padding-bottom:0;
}
#game .container{
    max-width: 2050px;
}
.game-left{
    margin-top: -5%;
}
.game-right{
    margin-top: -3.5%;
}
.game-left div{
    margin-top:50px;
}
#game .col-sm-12{
    position: relative;
    height: 650px;
}
.cta{
    width:30%;
    padding:0 10px;
    border: none;
    background-color: #222;
}
.cta img{
    cursor: pointer; 
    background-color: #222;
}
.cta img:hover{
    background-color: #777;
    border-radius: 10px;
}

.win-code p{
    font-size:1.5vw;
}
.win-code div{
    background:rgba(131, 131, 131, 0.808); 
    border-radius: 5px;
    height:5%;
}



.game-img{
    margin:0 auto;
}
.game-img img{
    margin-top: 25%;
    width:auto;
    z-index:1;
}


.win-and-get div{
    margin: 3% 0;
}
.win-and-get span{
    margin:0 5px;
}
.win-and-get img{
    display: inline-block;
    width:20%;
    margin-top:-15px;
}
.win-number{
    padding:20% 0;
}
.win-number p{
    display:inline-block;
    font-size: 2em;
}
.play-history, .prize-history{
    margin-top:5%;
}
.play-history p, .prize-history p{
    font-size: 1.2vw;
    line-height: 150%;
}
.play-history div, .prize-history div{
    padding: 2%;
    background:rgba(131, 131, 131, 0.808); 
    border-radius: 25px;
}




.modal{
    z-index: 10;
}
.modal-dialog{
    padding:2%;
    max-width: 120%;
    background-color: #222;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
}
.modal-content{
    background-color: #222;
}
#game-video {
    background-color: #222;
}


/*====================04.list============*/
#list{
    background-color: #222;
    padding:0;
}
#list .container{
    max-width: 97%; 
    
}
.model, .list{
    position:relative;
}
.model img{
    /* height: 85vh;
    width: auto; */
    z-index:-1;
    margin-top:10px;
}

.list img{
    width:105%;
    z-index:2;
}
.model1 img{
    width: 190%;
}
.model2 img{
    width: 100%;
}

/*====================05.footer============*/
#footer{
    margin-top:-30%;
    position:relative;
    height:100%
}
#footer img{
    width: 100%;
    height: 100%;
    z-index:3;
}
.footer-content{
    width:100%;
    height:95%;
    top: 5%;
    position: absolute;
    z-index:4;
}
#dapp-listing{
    max-width: 1240px;
    width: 90%;
    margin-top: 13%;
    text-align: center;
    font-size: 2vw;
}
#dapp-listing h3{
    font-size: 3vw;
    font-weight:bold;
    color: #fff;
    margin: 5% 0 2% 0;
}
#dapp-listing div{
    display: inline-block;
    
    padding: 0 2.5%;
}
#dapp-listing img {
    filter: brightness(2000)contrast(50)saturate(0);
}
#dapp-listing img:hover {
    filter: brightness(1)contrast(1)saturate(1);
}
.small-dapp{
    width: 19%;
}
.big-dapp{
    width: 28%;
}

#bottom {
    width:100%;
    color: #fff;
    position: absolute;
    bottom:5%;
    margin-top:0;
    padding:0 5%;
}
#bottom div {
    display: inline-block;
    width: 32%;
}
.copyright{
    position: absolute;
    top: 60%;
}
.copyright p{
    font-size:1vw;
    margin-bottom: 0;
}

#bottom .nav a{
    color: #fff;
    font-size: 2vw;
}
#bottom .ARINAUNIVERSELOGO{
    padding-top: 3%;
    margin-left: 35%;
}
}

#bottom .nav{
    padding-left: 15%;
}
#bottom .nav a img{
    display:inline-block;
    height:60%;
    width:auto;
}
.icon{
    position: absolute;
    top: 40%;
    left: 75%;
}

.icon li{
    padding: 0 3%;
}



@media (min-width: 768px) {
    #game{
        height: 105%;
    }
    .game-img img{
        height:50%;
    }
}

@media (min-width: 992px) {
    #game{
        height: 105%;
    }
    .game-img img{
        height:60%;
    }
}

@media (min-width: 1020px) {
    #game{
        height: 730px;
    }
    .game-img img{
        height:55%;
        margin-left:-10%;
    }
}
}
@media (min-width: 1250px) {
    #game{
        height: 750px;
    }
    .game-img img{
        height:70%;
    }
}

@media (min-width: 1900px) {
    #game{
        height: 105%;
    }
    .game-img img{
        height:75%;
        margin-left:-10%;
    }
}
}