images/scissors/剪刀 輸1.mp4
images/paper/布 平手1.mp4
images/paper/布 平手2.mp4
images/paper/布 平手3.mp4
images/paper/布 贏1.mp4
images/paper/布 贏2.mp4
images/paper/布 贏3.mp4
images/paper/布 輸1.mp4
images/paper/布 輸2.mp4
images/paper/布 輸3.mp4
images/scissors/剪刀 平局1.mp4
images/scissors/剪刀 平局2.mp4
images/scissors/剪刀 平局3.mp4
images/scissors/剪刀 贏1.mp4
images/scissors/剪刀 贏2.mp4
images/scissors/剪刀 贏3.mp4
images/scissors/剪刀 輸2.mp4
images/scissors/剪刀 輸3.mp4
images/stone/石頭  贏1.mp4
images/stone/石頭  贏2.mp4
images/stone/石頭  贏3.mp4
images/stone/石頭 平手1.mp4
images/stone/石頭 平手2.mp4
images/stone/石頭 平手3.mp4
images/stone/石頭 輸1.mp4
images/stone/石頭 輸2.mp4
images/stone/石頭 輸3.mp4
images/video/08StoneDraw2.mp4
images/video/01PaperLose1.mp4
images/video/01PaperLose2.mp4
images/video/01PaperLose3.mp4
images/video/02PaperDraw1.mp4
images/video/02PaperDraw2.mp4
images/video/02PaperDraw3.mp4
images/video/03PaperWin1.mp4
images/video/03PaperWin2.mp4
images/video/03PaperWin3.mp4
images/video/04ScissorLose1.mp4
images/video/04ScissorLose2.mp4
images/video/04ScissorLose3.mp4
images/video/05ScissorDraw1.mp4
images/video/05ScissorDraw2.mp4
images/video/05ScissorDraw3.mp4
images/video/06ScissorWin1.mp4
images/video/06ScissorWin2.mp4
images/video/06ScissorWin3.mp4
images/video/07StoneLose1.mp4
images/video/07StoneLose2.mp4
images/video/07StoneLose3.mp4
images/video/08StoneDraw1.mp4
images/video/08StoneDraw3.mp4
images/video/09StoneWin1.mp4
images/video/09StoneWin2.mp4
images/video/09StoneWin3.mp4
images/video/arina_start_720.mp4
